<ion-header>
  <ion-toolbar>
    <ion-title>Dsicover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="{{fetchedPlaces[0].imageUrl}}" />
          <ion-card-header>
            <ion-card-subtitle>{{fetchedPlaces[0].price | currency}}</ion-card-subtitle>
            <ion-card-title>{{fetchedPlaces[0].title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{fetchedPlaces[0].description}}
          </ion-card-content>
          <div text-right padding>
            <ion-button fill="clear" color="primary"
              [routerLink]="['/','places','tabs','discover', fetchedPlaces[0].id]">Visit</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let place of fetchedPlaces.slice(1)">
            <ion-avatar slot="start">
              <img src="{{place.imageUrl}}">
            </ion-avatar>
            <ion-label>
              <h2>{{place.title}}</h2>
              <h3>{{place.price}}</h3>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>