<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1" (click)="sideMenuOpen()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="!filterPlaces || filterPlaces.length <= 0 && !tab">
    <ion-row>
      <ion-col>
        <ion-card color="danger">
          <p>Unfortunately, there are no bookable places now. Please come back later.</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!filterPlaces || filterPlaces.length <= 0 && tab && !isLoading">
    <ion-row>
      <ion-col>
        <ion-card color="danger">
          <p>Unfortunately, there are no places now.</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid *ngIf="!isLoading && filterPlaces.length > 0">
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="{{filterPlaces[0].imageUrl}}" />
          <ion-card-header>
            <ion-card-subtitle>{{filterPlaces[0].price | currency}}</ion-card-subtitle>
            <ion-card-title>{{filterPlaces[0].title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{filterPlaces[0].description}}
          </ion-card-content>
          <div class="ion-padding ion-text-right">
            <ion-button fill="clear" color="primary"
              [routerLink]="['/','places','tabs','discover', filterPlaces[0].id]">Visit</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="'assets/img/discover.png'"></ion-img>
        <ion-text color="dark" class="ion-text-center">
          <h4>Discover Places</h4>
        </ion-text>
      </ion-col>
    </ion-row>
    <!-- routerDirection can be used to specifically assign the navigation direction. -->
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let place of filterPlaces.slice(1)"
            [routerLink]="['/','places','tabs','discover', place.id]" detail lines="none">
            <ion-avatar slot="start">
              <img src="{{place.imageUrl}}">
            </ion-avatar>
            <ion-label>
              <h2>{{place.title}}</h2>
              <h3>{{place.price | currency}}</h3>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>