<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/places/tabs/offers/new">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid *ngIf="isLoading">
        <ion-row>
          <ion-col>
            <div class="ion-spinner-box">
              <ion-spinner name="crescent" color="primary"></ion-spinner>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  <ion-grid *ngIf="!isLoading && offers.length > 0">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-sliding *ngFor="let offer of offers" #slidItem>
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="onEdit(offer.id, slidItem)">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>