<ion-content>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid class="detail-header" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12">
        <div class="detail-header__container">
          <span class="detail-header__back-button" (click)="navigateBack()">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
          </span>
          <span class="detail-header__center-text">
            <h4>Profile</h4>
          </span>
          <span class="detail-header__avatar">
            <ion-avatar>
              <img [src]="userinfo.user.image">
            </ion-avatar>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="detail-data" *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12">
        <div class="detail-data__header">
          <span class="detail-data__name">{{userinfo.user.name}}</span>
          <span class="detail-data__email">{{userinfo.user.email}}</span>
        </div>
        <div class="detail-data__description">
          <span>{{userinfo.description | limitChars:60}}</span>
        </div>
        <ion-button *ngIf="id != activeUserId" color="primary" (click)="follow()">Follow</ion-button>
        <ion-button *ngIf="id != activeUserId" color="primary" (click)="unfollow()">Unfollow</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>