@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

ion-content {
    ion-grid {
        ion-row {
            ion-col {
                width: 100%;
            }
        }
    }
}

.detail-header {
    padding: 0 !important;
    height: 30vh;

    ion-row {
        height: 100%;

        ion-col {
            margin-left: 0;
            margin-right: 0;
            padding: 0 !important;
            height: 100%;
        }
    }

    &__container {
        background-image: linear-gradient(105deg, var(--ion-color-primary) 10%, var(--ion-color-secondary) 90%);
        height: 100%;
        clip-path: circle(85.5% at 50% -30%);
        position: relative;
    }

    &__back-button {
        color: white;

        ion-icon {
            font-size: 1.0rem;
            margin-left: 1rem;
            margin-top: 1rem;
        }
    }

    &__avatar {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);

        ion-avatar {
            width: 6rem;
            height: 6rem;
            border: 3px solid var(--ion-color-light);
        }
    }

    &__center-text {
        text-align: center;
        color: white;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);

        h4 {
            font-weight: lighter;
            text-transform: uppercase;
            font-size: 1rem;
        }
    }
}

.detail-data {
    padding: 0;

    ion-row {
        ion-col {
            padding: 0;
        }
    }

    &__header {
        width: 60%;
        margin: 0 auto;
        text-align: center;
    }

    &__name {
        display: inline-block;
        font-size: 1.2rem;
        text-transform: capitalize;
        margin-top: 5%;
        background-image: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-tertiary));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__email {
        display: block;
        font-size: 0.8rem;
        color: var(--ion-color-medium);
        margin-top: 2%;
    }

    &__description {
        text-align: center;
        font-size: 0.8rem;
        color: var(--ion-color-medium);
        margin-top: 4%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}