ion-content {
    ion-grid {
        ion-row {
            ion-col {
                width: 100%;
            }
        }
    }
}

.detail-header {
    padding: 0 !important;
    height: 30vh;

    ion-row {
        height: 100%;

        ion-col {
            margin-left: 0;
            margin-right: 0;
            padding: 0 !important;
            height: 100%;
        }
    }

    &__container {
        background-image: linear-gradient(105deg, var(--ion-color-primary) 10%, var(--ion-color-secondary) 90%);
        height: 100%;
        clip-path: circle(85.5% at 50% -30%);
        position: relative;
    }

    &__back-button {
        color: white;

        ion-icon {
            font-size: 1.0rem;
            margin-left: 1rem;
            margin-top: 1rem;
        }
    }

    &__avatar {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);

        ion-avatar {
            width: 6rem;
            height: 6rem;
            border: 3px solid var(--ion-color-dark-blue);
        }
    }

    &__center-text {
        text-align: center;
        color: white;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, 0%);

        h4 {
            font-weight: lighter;
            text-transform: uppercase;
            font-size: 1rem;
        }
    }
}