body {
    font-size: 10px;
}

ion-segment {
    height: 8% !important;
}

ion-grid.sign-up-form-grid {

    padding: 0 !important;
    height: 92% !important;

    ion-row {
        height: 100% !important;

        ion-col {
            padding: 0 !important;

            form {
                height: 100% !important;

                ion-button[type="submit"] {
                    width: 80% !important;
                    margin: 0 auto;
                }

                input[type="file"] {
                    display: none;
                }

                .image-block {
                    position: relative;

                    &__image_button {
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        height: 6rem;
                        width: 6rem;
                        border-radius: 0.5rem;
                        background-color: white;
                        border: 2px solid var(--ion-color-tertiary);

                        ion-icon {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 3rem;
                        }
                    }
                }

                .toggle-block {
                    margin-top: 2%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }
        }
    }
}

form {
    ion-list {
        margin-bottom: 10%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        ion-item {
            --padding-start: 0 !important;

            ion-label {
                padding-top: 0.4rem !important;
            }

            ion-img {
                margin-top: 1.5rem;
                display: block;
            }
        }
    }
}