<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-segment value="sign-in" (ionChange)="changeSignMode($event)">
    <ion-segment-button value="sign-in">Sign In</ion-segment-button>
    <ion-segment-button value="sign-up">Sign Up</ion-segment-button>
  </ion-segment>
  <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="isLogin">
    <ion-grid>
      <ion-row>
        <ion-col size-md="8" offset-md="2">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" id="email" name="email" ngModel #email="ngModel" required email></ion-input>
            </ion-item>
            <ion-text *ngIf="!email.valid && email.touched" color="danger">Please enter a valid email.</ion-text>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" id="password" name="password" ngModel #pwd="ngModel" required></ion-input>
            </ion-item>
            <ion-text *ngIf="!pwd.valid && pwd.touched" color="danger">Please enter a valid password.</ion-text>
          </ion-list>
          <ion-button type="submit" color="primary" (click)="login()" [disabled]="!f.valid">Login</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLogin">
    <ion-grid class="sign-up-form-grid">
      <ion-row>
        <ion-col size-md="8" offset-md="2">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Full Name</ion-label>
              <ion-input type="text" id="username" name="username" ngModel #username="ngModel" required></ion-input>
            </ion-item>
            <ion-text *ngIf="!username.valid && username.touched">Please enter a valid user name.</ion-text>
            <ion-item>
              <ion-img [src]="imagePreview">
              </ion-img>
            </ion-item>
            <ion-item>
              <ion-label>Upload User Image</ion-label>
              <input type="file" id="image" (change)="uploadImage($event)" #filepicker>
              <ion-button type="button" color="secondary" (click)="filepicker.click()">Upload</ion-button>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" id="email" name="email" ngModel #email="ngModel" required email></ion-input>
            </ion-item>
            <ion-text *ngIf="!email.valid && email.touched" color="danger">Please enter a valid email.</ion-text>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" id="password" name="password" ngModel #pwd="ngModel" required></ion-input>
            </ion-item>
            <ion-text *ngIf="!pwd.valid && pwd.touched" color="danger">Please enter a valid password.</ion-text>
          </ion-list>
          <ion-button type="submit" color="primary" (click)="login()" [disabled]="!f.valid">Sign Up</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>