<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button color="secondary" expand="full">Switch to Sign Up.</ion-button>
        <ion-button color="primary" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>