<ion-header>
  <ion-toolbar>
    <ion-title>{{placeName}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-img [src]="'assets/img/rating.png'"></ion-img>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <ion-item>
          <ion-label position="floating">Your review:</ion-label>
          <ion-textarea rows="6" cols="20" placeholder="Enter you reviews here." maxlength="140" required
            spellcheck="true" name="message" ngModel></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-range id="dual-range" pin color="dark" min="1" max="5" step="1" name="rating" ngModel>
            <ion-icon slot="start" size="small" name="star-half"></ion-icon>
            <ion-icon slot="end" name="star-half"></ion-icon>
          </ion-range>
        </ion-item>
        <ion-button color="tertiary" type="submit" [disabled]="userId==guideId || !f.valid">Submit</ion-button>
      </form>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-list-header *ngIf="reviews.length>0">
          Recent Reviews
        </ion-list-header>

        <ion-item-sliding *ngFor="let review of reviews; let i = index;">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="review.user.image">
            </ion-avatar>
            <ion-label>
              <h2>{{review.user.name}}</h2>
              <ion-text>{{review.rating}}/5</ion-text>
              <p>{{review.message}}</p>
            </ion-label>
            <ion-note slot="end">
              {{review.createdAt}}
            </ion-note>
          </ion-item>

          <ion-item-options side="start">
            <ion-item-option (click)="onEdit(review._id)" [disabled]="review.user._id!=userId">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-item-option>
          </ion-item-options>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="onDelete(review._id)" [disabled]="review.user._id!=userId">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>