<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button type="submit" (click)="onSubmit()" [disabled]="!form.valid">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
          <ion-text *ngIf="!form.get('title').valid && form.get('title').touched" color="danger">
            Please enter a valid title.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="3" autocorrect autocomplete formControlName="description"></ion-textarea>
          </ion-item>
          <ion-text *ngIf="!form.get('description').valid && form.get('description').touched" color="danger">
            Please enter the description.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
          <ion-text *ngIf="!form.get('price').valid && form.get('price').touched" color="danger">
            Please enter the price.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Available From</ion-label>
            <ion-datetime min="2017-01-01" max="2019-12-31" formControlName="dateFrom"></ion-datetime>
          </ion-item>
          <ion-text *ngIf="!form.get('dateFrom').valid && form.get('dateFrom').touched" color="danger">
            Please enter the date from which the offer is valid.
          </ion-text>
        </ion-col>
        <ion-col size-sm="6">
          <ion-item>
            <ion-label position="floating">Available Till</ion-label>
            <ion-datetime min="2017-01-02" max="2019-12-31" formControlName="dateTill"></ion-datetime>
          </ion-item>
          <ion-text *ngIf="!form.get('dateTill').valid && form.get('dateTill').touched" color="danger">
            Please enter the date till which the offer is valid.
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12">
          <ion-img [src]="imagePreview"></ion-img>
          <input type="file" (change)="uploadImage($event)" #filepicker>
          <ion-button type="button" class="uploadbtn" color="secondary" (click)="filepicker.click()">Upload</ion-button>
        </ion-col>
      </ion-row>
      <ion-row formArrayName="visit">
        <ion-col>
          <ion-text>Tour Locations</ion-text>
          <ion-button class="" type="button" color="secondary" (click)="onAddControl()">Add</ion-button>
          <ion-list>
            <ion-item *ngFor="let location of form.get('visit').controls; let i = index">
              <ng-container [formGroup]="location">
                <ion-label position="floating">Name</ion-label>
                <ion-input [formControlName]="'name'"></ion-input>
                <ion-label position="floating">Price</ion-label>
                <ion-input [formControlName]="'price'"></ion-input>
              </ng-container>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>