ion-row {
    ion-col {

        ion-img {
            display: block;
        }

        input[type="file"] {
            display: none;
        }

        ion-button[type="button"] {
            margin: 5% auto;
        }
    }

    .locations {

        &__text-box {

            height: 5rem;

            ion-text {
                margin-top: 7%;
                float: left;
                font-size: 1.2rem;
                font-weight: bold;
                text-transform: capitalize;
                text-decoration: none;
            }

            ion-button {

                &.addbtn {
                    float: right;
                }
            }
        }

        &__list {
            width: 100%;

            &-item {
                width: 100%;
                display: block;
            }
        }
    }
}