$blue: rgb(35, 36, 63);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
$serif: 'Open Sans',
sans-serif;

%transparent-backround {
    --background: transparent !important;
}

%font-light {
    font-family: $serif !important;
    font-weight: 100 !important;
}

ion-menu {
    --background: linear-gradient(to top, rgba(35, 36, 63, 0.9), rgba(35, 36, 63, 0.8)),
        url('./../assets/img/mountain-and-trees-reflection-1097491.jpg') no-repeat center fixed !important;
    --width: 100vw;

    ion-content {
        @extend %transparent-backround;

        ion-grid {
            @extend %transparent-backround;

            ion-row {
                @extend %transparent-backround;

                ion-col {
                    @extend %transparent-backround;

                    .search {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        height: 20%;

                        &__bar {
                            display: inline-block;
                            width: 80%;
                        }

                        &__settings {
                            align-self: center;
                            display: inline-block;

                            ion-icon {
                                width: 25px;
                                height: 25px;
                                margin-right: 10px;
                                color: lighten($blue, 40%);
                            }
                        }
                    }

                    .user {
                        margin-top: 10%;

                        &__image {
                            width: 60%;
                            margin: 0 auto;
                            position: relative;

                            &-profile {
                                border-radius: 15%;
                            }

                            ion-icon {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                color: var(--ion-color-tertiary);
                                transform: scale(1.8);
                            }
                        }

                        &__status {
                            text-align: center;
                        }

                        &__text {
                            font-size: 1.5rem;
                            font-weight: 600 !important;
                            display: inline-block;
                            background-image: linear-gradient(to right, rgb(30, 144, 255), rgb(153, 50, 204));
                            background-clip: text;
                            color: transparent !important;
                            @extend %font-light;
                        }
                    }
                }
            }
        }

        ion-list {
            background: transparent !important;
        }

        ion-item {
            --background: transparent !important;
            --color: #FFFFFF !important;

            margin-top: 0.5rem !important;

            ion-icon {
                color: white;
                @extend %font-light;
            }

            ion-label {
                font-size: 1.0rem;
                color: white;
                @extend %font-light;
            }
        }
    }
}