<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="search">
              <div class="search__bar">
                <ion-searchbar animated debounce="500" color="secondary" (ionBlur)="searchGuide()">
                </ion-searchbar>
              </div>
              <div class="search__settings" (click)="openSettingsPage()">
                <ion-icon name="settings" slot="icon-only"></ion-icon>
              </div>
            </div>
            <div class="user">
              <div class="user__image">
                <img class="user__image-profile" [src]="user?.image" alt="{{user?.name}}">
                <ion-icon *ngIf="user?.identity == 'tour guide'" name="checkmark-circle-outline"></ion-icon>
              </div>
              <br>
              <div class="user__status">
                <h4 class="user__text">
                  {{user?.name}}
                </h4>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Your Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onLogOut()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/user">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>