<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid class="header" *ngIf="!isLoading">
    <ion-row class="header__row header__row--1">
      <ion-col size="12" class="header__col header__col--1">
        <div class="header_img"></div>
      </ion-col>
    </ion-row>
    <ion-row class="header__row header__row--2">
      <ion-col size="12" class="ion-text-center" class="header__col header__col--2">
        <ion-text color="primary">
          <h6>Update additional information</h6>
        </ion-text>

        <form (ngSubmit)="onSubmit()" #f="ngForm">

          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..." id="description" name="description"
              ngModel #description="ngModel" required></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Mobile</ion-label>
            <ion-input type="text" id="mobile" name="mobile" ngModel #mobile="ngModel" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" id="address" name="address" ngModel #address="ngModel" required></ion-input>
          </ion-item>

          <ion-list>
            <ion-radio-group name="gender" ngModel required>
              <ion-list-header>
                <ion-label>
                  Gender
                </ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio value="male"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio value="female"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Other</ion-label>
                <ion-radio value="other"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>

          <ion-item>
            <ion-label position="floating">Date of Birth</ion-label>
            <ion-datetime displayFormat="MMM DD, YYYY" placeholder="Select Date" name="dob" [ngModel]="todayDate"
              #dob="ngModel" required></ion-datetime>
          </ion-item>

          <div class="ion-text-center submitBtn">
            <ion-button type="submit" [disabled]="!f.valid" expand="block">Save</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>