ion-header {

    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent !important;

        ion-buttons {
            ion-button {
                ion-icon {
                    color: var(--ion-color-light-contrast);
                }
            }
        }

        ion-title {
            color: var(--ion-color-light-contrast);
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            padding-left: 0;
        }
    }
}

ion-content {

    .header {
        padding: 0;

        &__row {

            &--1 {
                ion-col {
                    padding: 0;
                    height: calc((100vh - 56px)/3) !important;

                    &:first-child {

                        .header_img {
                            background: url("./../../assets/img/settings.jpg");
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                            width: 100%;
                            height: 100%;

                        }
                    }
                }
            }

            &--2 {

                ion-col {
                    padding: 1rem 3rem;

                    ion-text {
                        h6 {
                            color: var(--ion-color-dark-blue);
                            font-size: 1.0rem;
                            font-weight: bold;
                        }
                    }

                    form {
                        margin-top: 10%;

                        ion-item {
                            --padding-start: 0 !important;
                        }

                        ion-list {
                            ion-radio-group {
                                ion-list-header {
                                    padding-left: 0 !important;

                                    ion-label {
                                        font-size: 0.8rem;
                                        font-weight: bold;
                                        color: var(--ion-color-dark-blue);
                                    }
                                }
                            }
                        }

                        .submitBtn {
                            margin-top: 10%;
                        }

                        .error_message {

                            ion-text {
                                display: inline-table;
                                width: 100%;

                                ion-icon,
                                ion-note {
                                    display: table-cell;
                                    vertical-align: middle;
                                }

                                ion-icon {
                                    font-size: 1rem !important;
                                }

                                ion-note {
                                    display: table-cell;
                                    vertical-align: middle;
                                    padding-left: 0.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__col {
            width: 100%;
        }
    }
}