<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Offer Issues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid *ngIf="!isLoading && place.userID != userId">
    <ion-row>
      <ion-col>
        <ion-img [src]="'assets/img/offer_edit.png'"></ion-img>
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <ion-item>
            <ion-label position="floating">Confirm Email</ion-label>
            <ion-input type="text" placeholder="xyz@gmail.com" required ngModel name="email" #email="ngModel" email>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Your issue:</ion-label>
            <ion-textarea rows="6" cols="20" placeholder="Enter you issue here." maxlength="250" required
              spellcheck="true" name="message" ngModel></ion-textarea>
          </ion-item>
          <ion-button color="tertiary" type="submit" [disabled]="!f.valid">Submit</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && user.identity!='user' && place.userID == userId" class="issue">
    <ion-row>
      <ion-col>
        <ion-img [src]="'assets/img/issues.png'"></ion-img>
        <ion-text color="dark" class="issue__heading">
          <h4>Issues regarding offers!</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo hic, quae similique dicta quam optio
            perferendis?</p>
          <ion-chip outline color="warning">
            <ion-icon name="bug"></ion-icon>
            <ion-label>Issues: {{issues.length}}</ion-label>
          </ion-chip>
        </ion-text>
        <ion-list>
          <ion-item *ngFor="let issue of issues" class="issue__item">
            <ion-avatar slot="start">
              <img [src]="issue.user.image" />
            </ion-avatar>
            <ion-label>
              <h2>{{issue.user.name}}</h2>
              <h6>{{issue.email}}</h6>
              <p>{{issue.message}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" shape="round" color="primary" *ngIf="place.userID == userId"
          [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place?.id]">Edit Offer
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>