ion-grid {
    ion-row {
        ion-col {

            ion-list {
                ion-item {
                    ion-avatar {
                        border: 2px solid var(--ion-color-tomato-red);
                    }

                    ion-label {

                        h2 {
                            font-weight: bold;
                        }

                        h6 {
                            font-size: 0.7rem;
                            font-weight: lighter;
                            color: var(--ion-color-dark-sky-blue);
                            margin-top: 2%;
                        }

                        p {
                            &::first-letter {
                                text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }
}

.issue {
    &__heading {
        h4 {
            font-weight: bold;
            color: var(--ion-color-dark-blue);
        }

        p {
            color: lightgrey;
            font-weight: lighter;
            font-size: small;
        }
    }
}