<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Offer Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-button color="primary" [disabled]="place.userID != userId"
          [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place?.id]">Edit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>