<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user"></ion-back-button>
    </ion-buttons>
    <ion-title>Connections</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="following" (ionChange)="segmentChanged($event)" color="secondary">
    <ion-segment-button value="following">
      <ion-label>Following</ion-label>
    </ion-segment-button>
    <ion-segment-button value="followers">
      <ion-label>Followers</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid fixed class="not-found" *ngIf="(segment && following?.length<1) || (!segment && followers?.length<1)">
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header></ion-card-header>
          <ion-card-content>
            <ion-icon name="alert" size="large" color="danger"></ion-icon>
            <br>
            No connections were found!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12">
        <ion-img *ngIf="segment && following?.length>0 || !segment && followers?.length>0"
          [src]="'assets/img/following.png'"></ion-img>
        <ion-list *ngIf="segment">
          <ion-list-header *ngIf="segment && following?.length>0">
            See who you follow!
          </ion-list-header>

          <ion-item lines="none" *ngFor="let info of following" [routerLink]="['/user', 'detail-page', info.id]">
            <ion-avatar slot="start">
              <img src="{{info.image}}">
            </ion-avatar>
            <ion-label>
              <h2>{{info.name}}</h2>
              <h6>{{info.email}}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list *ngIf="!segment">
          <ion-list-header *ngIf="!segment && followers?.length>0">
            See who are your followers!
          </ion-list-header>
          <ion-item lines="none" *ngFor="let info of followers" [routerLink]="['/user', 'detail-page', info.id]">
            <ion-avatar slot="start">
              <img src="{{info.image}}">
            </ion-avatar>
            <ion-label>
              <h2>{{info.name}}</h2>
              <h6>{{info.email}}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>