ion-header {
    ion-toolbar {
        ion-title {
            padding-left: 0;
        }
    }
}

ion-content {
    ion-grid {
        ion-row {
            ion-col {
                ion-list {
                    ion-list-header {
                        color: var(--ion-color-dark-sky-blue);
                    }
                }
            }
        }
    }
}

.not-found {
    ion-row {
        ion-col {
            ion-card {
                height: 40vh;

                &-header {
                    --background: url("../../../assets/img/not_found.png") no-repeat center center / contain;
                    height: 40%;
                }

                ion-card-content {
                    color: var(--ion-color-tomato-red);
                    text-align: center;
                }
            }
        }
    }
}