ion-grid {
    ion-row {
        ion-col {

            .cost {
                padding: 0.3rem 1rem;

                span {
                    color: var(--ion-color-dark);
                }

                &__price {
                    float: right;
                }
            }
        }
    }
}