$light-grey: lighten($color: #383a3e, $amount: 40);

:root {
    font-size: 10px;
}

ion-item {
    ion-avatar {
        img {
            border: 0.2rem solid var(--ion-color-tertiary);
        }
    }

    ion-label {
        .offer-item-label {
            &__title {
                font-size: 1.1rem;
                font-weight: 600;
                color: lighten($color: #222428, $amount: 10);
            }

            &__price {
                font-size: 0.7rem;
                color: var(--ion-color-medium);
            }
        }

        .offer-item-details {

            &:not(ion-icon) {
                color: $light-grey;
            }

            &__valid {
                font-size: 0.7rem;
            }

            &__validTillDate {
                margin-left: 0.3rem;
                font-size: 0.7rem;
            }
        }
    }
}