<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place?.title}} Detail</ion-title>
    <ion-buttons *ngIf="userId == place?.userID" slot="primary">
      <ion-button (click)="deletePlace(place?.id)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid *ngIf="!isLoading" class="place-detail">
    <img src="{{place?.imageUrl}}" />
    <ion-row class="place-detail__header">
      <ion-col>
        <ion-text>{{place?.title}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="place-detail__chips">
      <ion-col>
        <ion-chip outline color="primary">
          <ion-icon name="cash"></ion-icon>
          <ion-label>{{place?.price | currency}}</ion-label>
        </ion-chip>
        <ion-chip outline color="warning">
          <ion-icon name="star-half"></ion-icon>
          <ion-label>{{averageRating}}/5</ion-label>
        </ion-chip>
        <ion-chip outline color="tertiary">
          <ion-icon name="hourglass"></ion-icon>
          <ion-label>{{place?.availableTill | date:"d/M/yy"}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row class="place-detail__description">
      <ion-col>
        <ion-text>
          {{place?.description}}
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="place-detail__locations">
      <ion-col>
        <ion-text>Locations</ion-text>
        <ion-list>
          <ion-item *ngFor="let location of place.visit" lines="none">
            <ion-text>{{location?.name}}</ion-text>
            <ion-chip outline color="primary">
              <ion-label>{{location?.price | currency}}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-text class="guide-name">By - {{guide?.name}}</ion-text>
  <div class="place-detail-buttons ion-text-center">
    <ion-button color="tertiary" (click)="openReview()">
      <ion-icon name="chatboxes" slot="start"></ion-icon>Review
    </ion-button>
    <ion-button color="tertiary" [disabled]="!isBookable" (click)="bookPlace()">
      <ion-icon name="bookmark" slot="start"></ion-icon> Book
    </ion-button>
  </div>
</ion-content>