ion-header {

    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent !important;

        ion-title {
            color: var(--ion-color-light-contrast);
            text-transform: uppercase;
            font-size: 1rem;
        }
    }
}

ion-content {
    // --background: #fff url('../../../assets/img/guide.jpg') no-repeat center center / cover;

    ion-grid {
        padding: 0;

        ion-row {
            ion-col {
                padding: 0;
                height: 92.5vh !important;
                position: relative;

                .search_card {
                    height: 30%;
                    --background: url("../../../assets/img/search_page.png") no-repeat center center / contain;
                    margin: 0;
                    box-shadow: none !important;
                }

                .guide_list {

                    ion-searchbar {
                        --background: transparent;
                        --ion-color-base: transparent !important;
                        color: var(--ion-color-light-contrast);
                        width: 95%;
                        margin: 5% auto;
                    }

                    position: absolute;
                    bottom: 0;
                    top: 35%;
                    min-height: auto;
                    width: 100%;
                    margin: 0;
                    border-top-left-radius: 8%;
                    border-top-right-radius: 8%;
                    z-index: 1000;

                    ion-card-content {
                        margin-top: 5%;

                        ion-list {

                            ion-item {
                                ion-avatar {

                                    border: 2px solid var(--ion-color-secondary);
                                }

                                ion-label {

                                    h2 {}
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}