<ion-header>
  <ion-toolbar color="secondary">
    <ion-title *ngIf="isLoading">Profile Section.</ion-title>
    <ion-title *ngIf="!isLoading">{{user?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <div class="profile">
          <img class="profile__content" [src]="user?.image" alt="user?.name">
        </div>
        <div class="profile-text">
          <h6 class="profile-text__name">{{user?.name}}</h6>
          <h6 class="profile-text__location">San Francisco</h6>
        </div>
        <div class="profile-data">
          <div class="profile-data__item profile-data__item--1">&nbsp;</div>
          <div class="profile-data__item profile-data__item--2">
            <ion-chip outline color="tertiary">
              <ion-icon name="people"></ion-icon>
              <ion-label>Followers</ion-label>
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-chip>
          </div>
          <div class="profile-data__item profile-data__item--3">&nbsp;</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>