<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isLoading">Profile Section.</ion-title>
    <ion-title *ngIf="!isLoading">{{user?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-img [src]="user?.image"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>